

h2 {
    text-align: center;
}


.add-btn {
    background: #28a745;
    color: white;
    display: block;
    margin: 10px auto;
}

.edit-btn {
    background: #ffc107;
    color: white;
}

.delete-btn {
    background: #dc3545;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background: #007bff;
    color: white;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}